# Ignore the SQLite database file
myproject/db.sqlite3

# Ignore the static files directory
myproject/staticfiles/

# Ignore the migrations directory inside the main app
myproject/main/migrations/

# Ignore cahces
myproject/main/__pycache__/
myproject/myproject/__pycache__/

# Ignore secrets
myproject/secrets.json

myproject/main/config.py

# Ignore .conf files
myproject/main/temp_configs/*.conf
