/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #333;
    background-color: black; /* Ensure black background initially */
    overflow-x: hidden;
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}

/* Full-screen Overlay for Transitions */
.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

/* Activate overlay during transitions */
.page-active.page-overlay {
    opacity: 0;
    pointer-events: auto;
}

/* Flexbox Layout */
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

/* Keyframes for animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        background-color: black; /* Set initial black background */
    }
    100% {
        opacity: 1;
        background-color: transparent;
    }
}

@keyframes pageFadeIn {
    0% {
        opacity: 0;
        background-color: black;
    }
    100% {
        opacity: 1;
        background-color: transparent;
    }
}

@keyframes pageFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        background-color: black;
    }
}

.fade-out {
    animation: pageFadeOut 0.5s ease-in-out;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; /* Ensure no interaction with video */
}

.text-white {
    color: white;
}

.text-light-gray {
    color: lightgray;
}

.custom-btn {
    width: auto;
    min-width: 186px;
    height: auto;
    min-height: 60px;
    padding: 14px;
    border-radius: 20px;
    color: lightgray;
    display: flex;
    align-items: center;
    background-color: #333;
    border: none;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    opacity: 1;
}

.btn-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 46px;
    font-weight: bold;
}

.btn-small-text {
    font-size: 12px;
    color: rgba(211, 211, 211, 0.5);
    line-height: 12px;
    margin-bottom: 2px;
    font-weight: bold;
}

.custom-btn:hover,
.custom-btn:focus {
    background-color: #555;
}

.custom-btn .icon {
    width: 34px;
    height: 34px;
    position: absolute;
    left: 14px;
    bottom: 14px;
}

.custom-btn .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#languageButton.custom-btn {
    width: auto;
    min-width: 186px;
    height: auto;
    min-height: 60px;
    padding: 14px;
    border-radius: 20px;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    background-color: #333;
    border: none;
    font-size: 18px;
    position: relative;
}

#languageButton.custom-btn:hover,
#languageButton.custom-btn:focus {
    background-color: #555;
}

.buttons-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 12px;
}

.text-block {
    width: 30vw;
}

.main-title {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 62px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.025em;
    text-align: left;
    color: white;
    white-space: nowrap;
    opacity: 1;
}

.main-description {
    width: 636px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    color: lightgray;
    margin-top: 24px;
    opacity: 1;
}

.language-container {
    position: absolute;
    top: 68px;
    left: 6vw;
    opacity: 1;
}

.language-switch {
    font-size: 16px;
    color: white;
}

.language-switch a {
    text-decoration: none;
    color: lightgray;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.language-switch a.active {
    text-decoration: underline;
    color: white;
}

.language-switch a:hover {
    text-decoration: underline;
    color: white;
}

.license-link {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: lightgray;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    opacity: 1;
}

.license-link a {
    color: lightgray;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Courier New', Courier, monospace;
}

.license-link a:hover {
    text-decoration: underline;
}

h1,
h2 {
    color: #111;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.content-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    opacity: 1;
    margin-top: 20px;
}

@media (min-width: 1024px) {
    .container-with-text-and-but {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 6vw;
        margin-right: 6vw;
        width: calc(100vw - 12vw);
        position: absolute;
        bottom: 67px;
    }
}

@media (min-width: 768px) and (max-width: 853px) {
    .container-with-text-and-but {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 4vw;
        margin-right: 4vw;
        width: calc(100vw - 8vw);
        position: absolute;
        bottom: 67px;
    }

    .custom-btn {
        min-width: 150px;
        width: 154px;
        height: 57px;
        min-height: 60px;
        padding: 14px;
        border-radius: 20px;
        color: lightgray;
        display: flex;
        align-items: center;
        background-color: #333;
        border: none;
        font-size: 18px;
        position: relative;
        text-decoration: none;
        font-family: 'Helvetica', 'Arial', sans-serif;
        opacity: 1;
    }

    .license-link {
        position: absolute;
        bottom: 10px;
        width: 100%;
        color: lightgray;
        text-decoration: none;
        font-size: 12px;
        display: flex;
        justify-content: center;
        opacity: 1;
    }

    .buttons-container {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 12px;
    }

    .main-description {
        width: 37vw;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        text-align: left;
        color: lightgray;
        margin-top: -10px;
        opacity: 1;
    }

    .custom-btn .icon {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 14px;
        bottom: 18px;
    }

    .btn-text {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 38px;
        font-weight: bold;
    }

    .main-title {
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-size: 42px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -0.025em;
        text-align: left;
        color: white;
        white-space: nowrap;
        opacity: 1;
    }

    .language-container {
        left: 4vw;
    }
}

@media (min-width: 300px) and (max-width: 430px) {
    .container-with-text-and-but {
        display: block;
        margin-left: 3vw;
        margin-right: 3vw;
        width: calc(100vw - 6vw);
        position: absolute;
        bottom: 67px;
    }

    .text-block {
        width: auto;
        text-align: center;
    }

    .main-title {
        text-align: center;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-size: 42px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -0.025em;
        color: white;
        white-space: nowrap;
        opacity: 1;
    }

    .main-description {
        text-align: center;
        width: 88vw;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        color: lightgray;
        margin-top: 24px;
        opacity: 1;
    }

    .custom-btn .icon {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 14px;
        bottom: 17px;
    }

    .main-description {
        width: auto;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        /* text-align: center; */
        color: lightgray;
        margin-top: -10px;
        opacity: 1;
    }

    .custom-btn {
        min-width: 169px;
        width: auto;
        height: 54px;
        min-height: 54px;
        padding: 14px;
        border-radius: 20px;
        color: lightgray;
        display: flex;
        align-items: center;
        background-color: #333;
        border: none;
        font-size: 18px;
        position: relative;
        text-decoration: none;
        font-family: 'Helvetica', 'Arial', sans-serif;
        opacity: 1;
    }

    .license-link {
        position: absolute;
        bottom: 10px;
        width: 100%;
        color: lightgray;
        text-decoration: none;
        font-size: 12px;
        display: flex;
        opacity: 1;
        flex-direction: column;
        text-align: center;
    }

    .btn-text {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 46px;
        font-weight: bold;
    }
}

/* Custom scrollable container */
.scrollable-container {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ddd transparent;
    -webkit-overflow-scrolling: touch;
}

/* Hide default scrollbar for Chrome, Safari and Opera */
.scrollable-container::-webkit-scrollbar {
    width: 12px;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.scrollable-container::-webkit-scrollbar-track {
    background: transparent;
}

/* Custom scroll thumb hover effect */
.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

/* Custom scroll thumb active effect */
.scrollable-container::-webkit-scrollbar-thumb:active {
    background-color: #bbb;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2;
}

.custom-table td {
    background-color: #fff;
}
