<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная Страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}" id="base-style">
</head>
<body class="page-transition">
    <div class="background-video">
        <video autoplay muted loop playsinline>
            <source src="{% static 'main/background.mp4' %}" type="video/mp4">
        </video>
    </div>
    <div class="container-fluid">
        <div class="language-switch language-container">
            <a href="#" data-lang="en">en</a> / <a href="#" data-lang="ru">ru</a>
        </div>
        <div class="container-with-text-and-but">
            <div class="text-block">
                <h1 class="main-title">Будь в потоке</h1>
                <p class="main-description">Мы переосмыслили безопасность в сети</p>
            </div>
            <div class="buttons-container">
                <button class="btn btn-dark custom-btn" id="androidButton" onclick="window.location.href='https://play.google.com/store/apps/details?id=org.potok.PotokVPN'">
                    <div class="icon">
                        <img src="{% static 'main/icons/android.svg' %}" alt="Android">
                    </div>
                    <div class="btn-text">
                        <span class="btn-small-text">Скачать из</span>
                        Google Play
                    </div>
                </button>
                <button class="btn btn-dark custom-btn" id="iosButton" onclick="window.location.href='https://apps.apple.com/app/potok-vpn/id6557075210'">
                    <div class="icon">
                        <img src="{% static 'main/icons/ios.svg' %}" alt="iOS">
                    </div>
                    <div class="btn-text">
                        <span class="btn-small-text">Скачать из</span>
                        App Store
                    </div>
                </button>
                <button class="btn btn-dark custom-btn" id="windowsButton" onclick="window.location.href='https://github.com/hayashidevs/potokvpn-client/releases/latest/download/PotokVPN_x64.exe'">
                    <div class="icon">
                        <img src="{% static 'main/icons/windows.png' %}" alt="Windows">
                    </div>
                    <div class="btn-text">
                        <span class="btn-small-text">Скачать для</span>
                        Windows
                    </div>
                </button>
                <button class="btn btn-dark custom-btn" id="macosButton" onclick="window.location.href='https://github.com/hayashidevs/potokvpn-client/releases/latest/download/PotokVPN.dmg'">
                    <div class="icon">
                        <img src="{% static 'main/icons/macos.svg' %}" alt="macOS">
                    </div>
                    <div class="btn-text">
                        <span class="btn-small-text">Скачать для</span>
                        macOS
                    </div>
                </button>
            </div>
        </div>
        <div class="license-link">
            <a href="/privacy/">Лицензионное соглашение</a>  <a href="/privacy-mobile-app/">Политика мобильного приложения</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'main/script.js' %}"></script>
    <script src="{% static 'main/responsive.js' %}"></script>
</body>
</html>
