<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <div class="background-video">
        <video autoplay muted loop>
            <source src="{% static 'main/background.mp4' %}" type="video/mp4">
        </video>
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Text Block -->
            <div id="container1" class="text-block">
                <h1 class="main-title">Будь в потоке</h1>
                <p class="main-description">Lorem ipsum dolor sit amet consectetur. Ultrices eu arcu morbi dignissim purus at risus nec. Enim eget nisl enim et quis. Sed.</p>
            </div>
            <!-- Button Block -->
            <div id="container2" class="d-flex flex-column align-items-end justify-content-end buttons-container">
                <div class="btn-group">
                    <button class="btn btn-dark dropdown-toggle custom-btn" id="mobileButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Mobile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="mobileButton">
                        <li><a class="dropdown-item" href="https://play.google.com">Android</a></li>
                        <li><a class="dropdown-item" href="https://www.apple.com/app-store/">iOS</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-dark dropdown-toggle custom-btn" id="desktopButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Desktop
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="desktopButton">
                        <li><a class="dropdown-item" href="https://github.com/hayashidevs/potokvpn-client/releases/download/1.0.0.6/PotokVPN_x64.exe">Windows</a></li>
                        <li><a class="dropdown-item" href="https://github.com/hayashidevs/potokvpn-client/releases/download/1.0.0.6/PotokVPN.dmg">macOS</a></li>
                        <li><a class="dropdown-item" href="https://github.com/hayashidevs/potokvpn-client/releases/download/1.0.0.6/PotokVPN_Linux_Installer.tar">Linux</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'main/script.js' %}"></script>
</body>
</html>
