<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лицензионное соглашение</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <div class="background-video">
        <video autoplay muted loop>
            <source src="{% static 'main/license_background.mp4' %}" type="video/mp4">
        </video>
    </div>
    <div class="container mt-5 content-container">
        <h1>Лицензионное соглашение</h1>
        <p>Это текст лицензионного соглашения на русском языке.</p>
        <h2>Введение</h2>
        <p>Лорем ипсум долор сит амет, консектетур адиписцинг элит. Вивамус лациния одио витае вестибулум вестибулум. Крас вененатис еуисмод malesuada.</p>
        <h2>Условия и положения</h2>
        <p>Аликуам еуисмод урна еу нунц аликует, нек фахретра сапиен вененатис. Фаселлис волутпат магна сед пурус лаорет темпус.</p>
        <h2>Политика конфиденциальности</h2>
        <p>Курабитур ид магна фациллисис, консектетур tortor a, ферментум эним. Интегер feugiat tincidunt mauris, нон tincidunt дуи.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
